aniso8601==9.0.1
blinker==1.8.2
cassandra-driver==3.29.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-MySQL==1.6.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
geomet==0.2.1.post1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.2
pytz==2024.2
PyYAML==6.0.2
scylla-driver==3.28.0
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
Werkzeug==3.1.2
mysqlclient==2.2.0

